<form class="row form-group">

    <div class="col-12 text-center mb-2">
      <h2>Recherche</h2>
    </div>

  <div class="col-12 col-sm-3">
    <label for="id_recherche" class="float-sm-right">Recherche par nom</label>
  </div>

  <div class="col-12 col-sm-6">
    <input type="text" class="form-control" id="id_recherche" #recherche>
  </div>

  <div class="col-12 col-sm-3 mt-2 mt-sm-0">
    <button type="button" class="btn btn-outline-light col-12"
      (click)="afficherListe(recherche.value)">Rechercher</button>
  </div>

</form>

<div *ngIf="affListe" class="row my-3 justify-content-center">
  <ul class="list-group">
    <li *ngFor="let matricule of listeMatricule" class="btn list-group-item list-group-item-dark"
      (click)="afficherCollegue(matricule)">
      Matricule n° {{matricule}}
    </li>
  </ul>
</div>
<div *ngIf="aucunCollegue" class="alert alert-dark" role="alert">
  Aucun collègue n'a été trouvé avec ce nom.
</div>
<div *ngIf="error" class="alert alert-danger" role="alert">
  Echec de la recherche.
</div>
