<div class="rounded p-2">

  <ng-template class="row" #alertError>
    <div class="alert alert-danger" role="alert">
      Aucun collègue trouvé.
    </div>
  </ng-template>

  <div *ngIf="!error; else alertError" class="row">
    <div class="col-12 col-sm-3 m-auto d-flex justify-content-center">
      <img src={{col.photoUrl}} class="img-fluid img-thumbnail" alt="photo de profil">
    </div>

    <div class="col m-auto">
      <div class="row">

        <div class="col-12">
          Matricule :
        </div>
        <div class="col">
          {{col.matricule}}
        </div>

      </div>
      <div class="row">

        <div class="col">
          Nom :
        </div>
        <div class="col">
          {{col.nom | uppercase}}
        </div>

      </div>
      <div class="row">

        <div class="col">
          Prénoms :
        </div>
        <div class="col">
          {{col.prenoms}}
        </div>

      </div>
      <div class="row">

        <div class="col">
          Date de naissance :
        </div>
        <div class="col">
          {{col.dateDeNaissance | date : 'dd/MM/yyyy'}}
        </div>

      </div>

      <!--email-->

      <div class="row mt-1" *ngIf="modif; else emailBlock">
        <div class="col-6">
          <label class="form-label" for="id_email">Email :</label>
        </div>
        <div class="col-5">
          <input type="email" class="form-control" id="id_email" value={{col.email}} [(ngModel)]="collegueModif.email"
            required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]" #email="ngModel">
        </div>

        <ng-container *ngIf="( submit ) && email.invalid">
          <div class="col-12 offset-sm-6 col-sm-5">
            <div class="alert alert-warning p-1 mt-1" role="alert">
              Veuillez renseigner un email valide.
            </div>
          </div>
        </ng-container>


      </div>

      <ng-template #emailBlock>
        <div class="row">
          <div class="col">
            Email :
          </div>
          <div class="col">
            {{col.email}}
          </div>
        </div>
      </ng-template>

      <!-- photoUrl-->

      <div class="row" *ngIf="modif">
        <div class="col-6">
          <label for="id_photoUrl" class="form-label">Photo Url :</label>
        </div>
        <div class="col-5">
          <input type="text" id="id_email" class="form-control" value={{col.photoUrl}}
            [(ngModel)]="collegueModif.photoUrl" required minlength="7" #photo="ngModel">
        </div>


        <ng-container *ngIf="( submit ) && photo.invalid">
          <div class="col-12 offset-sm-6 col-sm-5">
              <div class="alert alert-warning p-1 mt-1" role="alert">
                Veuillez renseigner un url valide (minimum 7 caractères).
              </div>
          </div>
        </ng-container>

      </div>

    </div>
  </div>


  <div class="row pt-2 mt-2 d-flex">

    <div class="col-12 col-sm-6 order-2 order-sm-1 d-flex justify-content-center">
      <button (click)="nouveauCollegue()" class="btn btn-link">Créer un nouveau collègue</button>
    </div>

    <div class="col-12 col-sm-6 order-1 order-sm-2 d-flex justify-content-end">
      <ng-container *ngIf="modif; else elseBlock">
        <button class="btn btn-outline-light" (click)="valider()">Valider</button>
      </ng-container>
      <ng-template #elseBlock>
        <button class="btn btn-outline-light" (click)="modifier()">Modifier</button>
      </ng-template>

    </div>

    <ng-container *ngIf="errorModif">
      <div class="col-12">
        <div class="alert alert-danger" role="alert">Erreur lors de la modification.</div>
      </div>
    </ng-container>


  </div>

</div>
