<form class="form-group" #formCrea="ngForm">

  <div class="row">
    <div class="col-12 text-center mb-2">
      <h2>Creation collègue</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-sm-3 d-flex justify-content-center my-auto">
      <img *ngIf="previPhoto; else elseBlock" src={{collegueSaisie.photoUrl}} class="img-fluid img-thumbnail"
        alt="photo de profil">
      <ng-template #elseBlock>
        <button class="btn btn-outline-light" (click)="previsualiserPhoto()">Previsualiser photo</button>
      </ng-template>
    </div>

    <div class="col-12 col-sm-9 m-auto">

      <!-- Nom -->

      <div class="row">

        <div class="col-sm-3">
          <label for="id_nom">Nom :</label>
        </div>
        <div class="col-sm-9">
          <input type="text" id="id_nom" name="nom" class="form-control" [(ngModel)]="collegueSaisie.nom" required
            #nom="ngModel">
        </div>

        <div *ngIf="( submit || nom.dirty) && nom.invalid" class="offset-sm-3 col-sm-9 mt-2">
          <div class="alert alert-warning p-2" role="alert">
            Veuillez renseigner un nom.
          </div>
        </div>

      </div>

      <!-- Prenom -->

      <div class="row">

        <div class="col-sm-3">
          <label for="id_prenom">Prénom :</label>
        </div>
        <div class="col-sm-9">
          <input type="text" id="id_prenom" name="prenom" class="form-control" [(ngModel)]="collegueSaisie.prenoms" required
            #prenom="ngModel">
        </div>

        <div *ngIf="( submit || prenom.dirty) && prenom.invalid" class="offset-sm-3 col-sm-9 mt-2">
          <div class="alert alert-warning p-2" role="alert">
            Veuillez renseigner un prénom.
          </div>
        </div>
      </div>

      <!-- Date de naissance -->

      <div class="row">

        <div class="col-sm-3">
          <label for="id_date">Date de naissance :</label>
        </div>
        <div class="col-sm-9">
          <input type="date" id="id_date" name="date" class="form-control" [(ngModel)]="collegueSaisie.dateDeNaissance" required
            #date="ngModel">
        </div>

        <div *ngIf="( submit || date.dirty) && date.invalid" class="offset-sm-3 col-sm-9 mt-2">
          <div class="alert alert-warning p-2" role="alert">
            Veuillez renseigner une date de Naissance.
          </div>
        </div>
      </div>

      <!--email-->

      <div class="row">

        <div class="col-sm-3">
          <label for="id_email">Email :</label>
        </div>
        <div class="col-sm-9">
          <input type="email" id="id_email" name="email" class="form-control" [(ngModel)]="collegueSaisie.email" required
            pattern=^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$ #email="ngModel">
        </div>

        <div *ngIf="( submit ) && email.invalid" class="offset-sm-3 col-sm-9 mt-2">
          <div class="alert alert-warning p-2" role="alert">
            Veuillez renseigner un email valide.
          </div>
        </div>
      </div>

      <!-- photoUrl-->

      <div class="row">

        <div class="col-sm-3">
          <label for="id_photo">Photo Url :</label>
        </div>
        <div class="col-sm-9">
          <input type="text" id="id_photo" name="photo" class="form-control" [(ngModel)]="collegueSaisie.photoUrl" required
            #photo="ngModel" minlength="7">
        </div>

        <div *ngIf="( submit ) && photo.invalid" class="offset-sm-3 col-sm-9 mt-2">
          <div class="alert alert-warning p-2" role="alert">
            Veuillez renseigner un url valide (minimum 7 caractères).
          </div>
        </div>
      </div>

      <div class="row" *ngIf="error">
        <div class="alert alert-danger" role="alert">
          Erreur lors de la création du collègue.
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-2">
      <button class="btn btn-outline-light float-right" (click)="creerCollegue()">Créer</button>
    </div>
  </div>

</form>
